= simple_form_for(@club, format: :html) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address, input_html: { id: "addresspicker" }
    = f.input :lat, label: 'Latitude'
    = f.input :lng, label: 'Longitude'
    = f.input :phone_number
    = f.input :contact_phone
    = f.label :min_age
    = f.number_field :min_age, min: 18, max: 100, value: 18
    = f.input :logo_url, as: :filepicker, label: "Logo", wrapper_html: { class: "image-picker" }
    = f.input :photos_url, as: :filepicker, label: "Photos", wrapper_html: { class: "image-picker" }
    = f.input :musics, as: :select, input_html: { class: "music-multiselect" }
    = f.input :opening_hours, as: :time, minute_step: 30, input_html: { class: "input-mini" }
    / = f.input :menu

  .form-actions
    = f.button :submit, class: "btn btn-primary"