%p#notice= notice

%p
  %b Name:
  = @club.name
%p
  %b Address:
  = @club.address
%p
  %b Latitude:
  = @club.lat
%p
  %b Longitude:
  = @club.lng
%p
  %b Phone number:
  = @club.phone_number
%p
  %b Contact phone:
  = @club.contact_phone
%p
  %b Min age:
  = @club.min_age
%p
  %b Logo:
  - if @club.logo_url?
    = filepicker_image_tag @club.logo_url, w: 160, h: 160, fit: 'clip'
  = @club.logo_url
%p
  %b Photos:
  - if @club.photos_url?
    = filepicker_image_tag @club.photos_url, w: 160, h: 160, fit: 'clip'
  = @club.photos_url
%p
  %b Music:
  = @club.musics.join(', ')
%p
  %b Opening Hours:
  = @club.opening_hours
/ %p
/   %b Menu:
/   = @club.menu
/ %p
/   %b Alcohol Prices:
/   = @club.alcohol_prices
%p
  %b Create At:
  = @club.created_at
%p
  %b Weight:
  = @club.weight

/ = link_to 'Edit', edit_club_path(@club, format: :html), class: 'btn'
= link_to 'Back', clubs_path(format: :html), class: 'btn'