= simple_form_for(@line, format: :html) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    - if @line.host.present?
      = f.input :host, collection: @hosts, input_html: { class: "host-select" }, selected: @line.host.id
    - else
      = f.input :host, collection: @hosts, input_html: { class: "host-select" }
    = f.input :phone_number
    = f.input :contact_phone
    = f.label :min_age
    = f.number_field :min_age, min: 18, max: 100, value: 18
    = f.input :logo_url, as: :filepicker, label: "Logo", wrapper_html: { class: "image-picker" }
    = f.input :photos_url, as: :filepicker, label: "Photos", wrapper_html: { class: "image-picker" }
    = f.input :musics, as: :select, input_html: { class: "music-multiselect" }
    = f.input :duration, as: :time, minute_step: 30, input_html: { class: "input-mini" }

  .form-actions
    = f.button :submit, class: "btn btn-primary"
