%p#notice= notice

%p
  %b Name:
  = @line.name
%p
  %b Address:
  = @line.address
%p
  %b Phone number:
  = @line.phone_number
%p
  %b Contact phone:
  = @line.contact_phone
%p
  %b Min age:
  = @line.min_age
%p
  %b Logo:
  - if @line.logo_url?
    = filepicker_image_tag @line.logo_url, w: 160, h: 160, fit: 'clip'
  = @line.logo_url
%p
  %b Photos:
  - if @line.photos_url?
    = filepicker_image_tag @line.photos_url, w: 160, h: 160, fit: 'clip'
  = @line.photos_url
%p
  %b Music:
  = @line.musics.join(', ')
%p
  %b Duration:
  = @line.duration
%p
  %b Create At:
  = @line.created_at
%p
  %b Weight:
  = @line.weight

/ = link_to 'Edit', edit_line_path(@line, format: :html), class: 'btn'
= link_to 'Back', lines_path(format: :html), class: 'btn'