%p#notice= notice

%p
  %b Name:
  = @party.name
%p
  %b Address:
  = @party.address
%p
  %b Phone number:
  = @party.phone_number
%p
  %b Contact phone:
  = @party.contact_phone
%p
  %b Min age:
  = @party.min_age
%p
  %b Logo:
  - if @party.logo_url?
    = filepicker_image_tag @party.logo_url, w: 160, h: 160, fit: 'clip'
  = @party.logo_url
%p
  %b Photos:
  - if @party.photos_url?
    = filepicker_image_tag @party.photos_url, w: 160, h: 160, fit: 'clip'
  = @party.photos_url
%p
  %b Music:
  = @party.musics.join(', ')
%p
  %b Duration:
  = @party.duration
%p
  %b Create At:
  = @party.created_at
%p
  %b Weight:
  = @party.weight

/ = link_to 'Edit', edit_party_path(@party, format: :html), class: 'btn'
= link_to 'Back', parties_path(format: :html), class: 'btn'