.page-header
  %h1 Bars

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th Address
    %th Latitude
    %th Longitude
    %th Phone number
    %th Contact phone
    %th Min age
    %th Logo url
    %th Photos url
    %th Musics
    %th Opening Hours
    / %th Menu
    / %th Alcohol Prices
    %th Created At
    %th Weight
    %th

  - @bars.each do |bar|
    %tr
      %td= bar.name
      %td= bar.address
      %td= bar.lat
      %td= bar.lng
      %td= bar.phone_number
      %td= bar.contact_phone
      %td= bar.min_age
      %td= bar.logo_url
      %td= bar.photos_url
      %td= bar.musics.join(', ')
      %td= bar.opening_hours
      / %td= bar.menu
      / %td= bar.alcohol_prices
      %td= bar.created_at
      %td= bar.weight
      %td.center
        = link_to 'Show', bar_path(bar, format: :html), class: 'btn btn-mini btn-in-table'
        = link_to 'Edit', edit_bar_path(bar, format: :html), class: 'btn btn-mini btn-in-table'
        = link_to 'Delete', bar_path(bar, format: :html), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger btn-in-table'

%br

= link_to new_bar_path(format: :html), class: 'btn btn-success' do
  %i.icon-plus.icon-white
  new bar
