%p#notice= notice

%p
  %b Name:
  = @bar.name
%p
  %b Address:
  = @bar.address
%p
  %b Latitude:
  = @bar.lat
%p
  %b Longitude:
  = @bar.lng
%p
  %b Phone number:
  = @bar.phone_number
%p
  %b Contact phone:
  = @bar.contact_phone
%p
  %b Min age:
  = @bar.min_age
%p
  %b Logo:
  - if @bar.logo_url?
    = filepicker_image_tag @bar.logo_url, w: 160, h: 160, fit: 'clip'
  = @bar.logo_url
%p
  %b Photos:
  - if @bar.photos_url?
    = filepicker_image_tag @bar.photos_url, w: 160, h: 160, fit: 'clip'
    = @bar.photos_url
%p
  %b Music:
  = @bar.musics.join(', ')
%p
  %b Opening Hours:
  = @bar.opening_hours
/ %p
/   %b Menu:
/   = @bar.menu
/ %p
/   %b Alcohol Prices:
/   = @bar.alcohol_prices
%p
  %b Create At:
  = @bar.created_at
%p
  %b Weight:
  = @bar.weight

/ = link_to 'Edit', edit_bar_path(@bar, format: :html), class: 'btn'
= link_to 'Back', bars_path(format: :html), class: 'btn'